body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: linear-gradient(to bottom , #E14D2A,#FD841F,#3E6D9C,#0008C1)
}
h1{
    text-align: center;

}
p{
    font-size: 1.5em;
}
.code-box{
    padding: 1em 2em;
    background-color: #ffffff;
    border-radius: 2em;
    color: #E14D2A;
    font-size: 1.3em;
}
.code-box1{
    padding: 1em 2em;
    background-color: #ffffff;
    border-radius: 2em;
    color: #001253;
    font-size: 1.3em;
}

@media only screen and (max-width:600px) {
    .code-box1, .code-box{
        width: 100%;
        font-size: 0.9em;
        border-radius: 1em;
        padding: 0.5em 1em;
    }
}
